<%# 新規登録ページのcssと連動 %>
<%= render "shared/header" %>
<div class="sign-up-content">
<div class="sign-up-title">
<h2>ログイン</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <div class="form-text-wrap">
      <%= f.label :email,class:"form-text" ,for:"user_email"%>メールアドレス<br />
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"sign-up-form" %>
  </div>

  <div class="field">
    <div class="form-text-wrap">
      <%= f.label :password,class:"form-text" ,for:"user_password"%>パスワード<br />
    </div>
    <%= f.password_field :password, autocomplete: "current-password",class:"sign-up-form" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <div class="check-box">
        <%= f.check_box :remember_me %>
        <label class="remenber_me">パスワードを保存する</label>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン",class:"sign-up-btn" %>
  </div>

<% end %>
</div>
<%= render "shared/footer" %>