<%= render "shared/header" %>

<div class="mypage-content">
  <div class="mypage-title">
   <%= @nickname %>さんのマイページ
  </div>
  <div class="mypage-wrap">
      <div class="mypage-link-new">
        <%=link_to '公演情報を登録する', new_performance_path, class:"link-new-btn" %>
      </div>
      <div class="my-performances">
        <div class="my-performances-title">
        <%= image_tag('performance.png', class:"performance-logo", alt:"performance")%>
           登録した公演
           </div>
           <% @performances.each do |p| %>
             <li class="list">
               <%= link_to performance_path(p.id) do%>
                 <%= p.title %>
                 <%= p.group %>
               <% end %>
             </li>
           <% end %>
        </div>
        
      <div class="my-performances">
        <div class="my-performances-title">
        <%= image_tag('like.png', class:"performance-logo", alt:"performance")%>
           いいね！した公演
           </div>
           <% @likes.each do |like| %>
             <li class="list">
             <% performance = Performance.find_by(id: like.performance_id) %>
               <%= link_to performance_path(performance.id) do %>
                 <%= performance.title %>
                 <%= performance.group %>
               <% end %>
             </li>
           <% end %>

       </div>
  </div>
  <%= link_to 'トップページにもどる', root_path, class:"back-home" %>
</div>
<%= render "shared/footer" %>