<%= render "shared/header" %>
<div class="mypage-content">
  <div class="mypage-title">
   <%= @nickname %>さんのマイページ
  </div>
  <div class="mypage-wrap">
    <div class="mypage-link">
      <div class="mypage-link-new">
        <%=link_to '公演情報を登録する', new_performance_path %>
      </div>
   </div>
   <p>登録した公演</p>
   <% @performances.each do |p| %>
     <li class="list">
       <%= link_to performance_path(p.id) do%>
         <%# <%= image_tag url_for(p)%>
         <%= p.title %>
         <%= p.group %>
       <% end %>
     </li>
   <% end %>
  </div>
</div>
  <%= link_to 'トップページにもどる', root_path %>
<%= render "shared/footer" %>