<%= render "shared/header" %>

<div class="performance-uproad-main">
  <h1 class="performance-upload-title">公演編集ページ</h1>

  <%= form_with(model: @performance, local: true) do |f| %>

  <%= render 'shared/error_messages', model: f.object %>
  
  <div class="new-perfoemance-content">
    <%# 公演画像 %>
    <div class="new-content">
      <div class="weight-bold-text">
        公演画像
        <span class="indispensable-new-performance">必須</span>
      </div>
      <div class="click-upload">
        <p>
        クリックして画像をアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
        <%= image_tag @performance.image, class: "perfoemance-image",alt:"image"%>
      </div>
    </div>
    <%# /公演画像 %>
    <%# 公演タイトル %>
    <div class="new-content">
      <div class="weight-bold-text">
        公演タイトル
        <span class="indispensable-new-performance">必須</span>
      </div>
      <%= f.text_field :title, class:"new-performance-box", id:"title-name",placeholder:"例)ハムレット" %>
    </div>
    <%# /公演タイトル %>
    <%# 公演団体 %>
    <div class="new-content">
      <div class="weight-bold-text">
      公演団体名
      <span class="indispensable-new-performance">必須</span>
      </div>
      <%= f.text_field :group, class:"new-performance-box", id:"group-name",placeholder:"例)劇団シェイクスピア" %>
    </div>
    <%# /公演団体 %>
    <%# ActiveHash %>
    <div class="new-content">
      <div class="weight-bold-text">
        ジャンル
        <span class="indispensable-new-performance">必須</span>
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"genre-name"}) %>
      <div class="weight-bold-text">
         エリア（東京都）
        <span class="indispensable-new-performance">必須</span>
      </div>
      <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"area-name"}) %>
    </div>
    <%# /ActiveHash %>
    <%# チケット料金 %>
    <div class="new-content">
      <div class="price-text">
        <span>チケット料金１</span>
          <span class="indispensable-new-performance">必須</span>
      </div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price1, class:"price-input", id:"item-price", placeholder:"半角数字" %><span class="yen">円</span>
        <div class="price-text">
        <span>チケット料金2</span><span class="indispensable-any">任意</span>
        </div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price2, class:"price-input", id:"item-price", placeholder:"半角数字" %><span class="yen">円</span>
        <div class="price-text">
        <span>チケット料金3</span><span class="indispensable-any">任意</span>
        </div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price3, class:"price-input", id:"item-price", placeholder:"半角数字" %><span class="yen">円</span>
        <div class="price-text">
        <span>チケット料金4</span><span class="indispensable-any">任意</span> 
        </div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price4, class:"price-input", id:"item-price", placeholder:"半角数字" %><span class="yen">円</span>
        <div class="price-text">
        <span>チケット料金5</span><span class="indispensable-any">任意</span>
        </div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price5, class:"price-input", id:"item-price", placeholder:"半角数字" %><span class="yen">円</span>
    </div>
    <%# /チケット料金 %>
    <%# 開演日 %>
    <div class="new-content">
      <div class="weight-bold-text">
        公演期間入力 <span class="indispensable-new-performance">必須</span>
      </div>
      <label class="control-label" for="">開演日</label>
      <%= f.date_select :start_date, {include_blank: true, use_month_numbers: true}, class: 'form-control' %>
      <%# /開演日 %>
      <%# 終演日 %>
     <div class="new-content">
       <label class="control-label" for="">終演日</label>
       <%= f.date_select :end_date, {include_blank: true, use_month_numbers: true}, class: 'form-control' %>
     </div>
   </div>
   <%# 終演日 %>
   <%# 開演時間 %>
    <div class="new-content">
      <div class="weight-bold-text">
        開演時間詳細
        <span class="indispensable-new-performance">必須</span>
      </div>
        <%= f.text_area :start_at, class:"start-time-text", id:"time-name",placeholder:"例)9月10日12:00/17:00" %>
    </div>
   <%# /開演時間 %>
   <%# 公演詳細ページ %>
     <div class="new-content">
      <div class="weight-bold-text">
        チケット購入先
        <span class="indispensable-new-performance">必須</span>
      </div>
        <%= f.url_field :url, class:"new-performance-box", id:"url-name",placeholder:"http:// URL" %>
     </div>
    <%# /公演詳細ページ %>

  </div>

    <div class="btn-content">
      <%= f.submit '更新する', class: 'search-btn-content'%>
      <%= link_to 'トップページにもどる', root_path, class: 'back-btn'%>
    </div>
  <% end %>

</div>

<%= render "shared/footer" %>