<%= render "shared/header" %>


<div class="main">
<h1>詳細検索</h1>
</div>

<%= search_form_for @p, url: performances_search_path do |f| %>
 <%= f.label :title_eq, '公演タイトルを指定' %>
 <br>
    <%= f.search_field :title_cont, placeholder: "例）ロミオとジュリエット"%>
    <br>
 <%= f.label :group_eq, '団体を指定' %>
 <br>
     <%= f.search_field :group_cont,  placeholder: "例）劇団シェイクスピア"%>
  <br>
  <%= f.label :genre_id_eq, 'ジャンル' %>
    <%= f.collection_select :genre_id_eq, @genre, :id, :name, {include_blank: '--'}, class:"select-box", id:"genre-name" %>
  <br>
  <%= f.label :area_id_eq, 'エリア（東京都)' %>
    <%= f.collection_select :area_id_eq, @area, :id, :name, {include_blank: '--'}, class:"select-box", id:"area-name" %>
  <br>
    <%= f.label :price_name_eq, 'チケット価格' %>
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq,''%>
  指定なし
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '3000'%>
  3000円以下
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '4000'%>
  4000円以下
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '5000'%>
  5000円以下
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '6000'%>
  6000円以下
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '10000'%>
  10000円以下
  <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_gteq, '10001'%>
  10000円以上

<p>期間</p>
 <%= f.date_field :start_date_gteq, placeholder: "" %>〜
 <%= f.date_field :end_date_lteq, placeholder: "" %>
  
   <p><%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '登録の古い順': 'updated_at asc', '登録の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} ) %></p>
  

  <p><%= f.submit '検索する' %> </p>
  <br>
  <%# 公演一覧 %>
  <% @performances.each do |performance| %>
  <td>
  <br>
  <li>
     <%= performance.title %>
     <%= performance.group %>
     <%= performance.genre.name %>
     <%= performance.area.name %>
   </li>
  <% end %>
<% end %>





<%= render "shared/footer" %>