<%= render "shared/header" %>

<div class="search-page">
  <%#今日の公演検索%>
  <div class="today-search">
     <%= search_form_for @p, url: performances_search_path do |f| %>
     <%= image_tag('top1.png', class:"z", alt:"image")%>
     <%= f.hidden_field :start_date_gteq,value: (f.object.start_date || Time.now.strftime("%Y-%m-%d")),class:"date-form"%>
     <%= f.hidden_field :end_date_lteq, value: (f.object.end_date || Time.now.strftime("%Y-%m-%d")) ,class:"date-form"%>
     <div class="hidden-search">
      <div class="sub-text">花見ってちょっと切ないよね。</div>
         <%= f.submit '今日の公演を検索する',  class:"search-btn-today"%>
         <%= image_tag('click.png', class:"click-logo", alt:"image")%>
      </div>
   </div>
  <%end%>
  <%#/今日の公演検索%>

  <%= search_form_for @p, url: performances_search_path do |f| %>
  <div class="main-title">
    <h1>検索条件を絞り込もう！</h1>
  </div>
  <div class="search-content">
     <div class="search-wrap">
       <div class="search-form-label">
        <%= image_tag('pen.png', class:"pen-logo", alt:"search")%>
         <%= f.label :title_eq, '公演タイトルのキーワード' %>
       </div>
       <div class="search-form">
         <%= f.search_field :title_cont, placeholder: "例）ロミオとジュリエット", class:"text-search"%>
       </div>
     </div>
     <div class="search-wrap">
       <div class="search-form-label">
        <%= image_tag('pen.png', class:"pen-logo", alt:"search")%>
         <%= f.label :group_eq, '団体のキーワード' %>
       </div>
       <div class="search-form">
         <%= f.search_field :group_cont,  placeholder: "例）劇団シェイクスピア",class:"text-search"%>
       </div>
     </div>
     <div class="search-wrap">
       <div class="search-form-label">
        <%= image_tag('pen.png', class:"pen-logo", alt:"search")%>
         <%= f.label :genre_id_eq, 'ジャンル' %>
       </div>
         <div class="search-form">
           <%= f.collection_select :genre_id_eq, @genre, :id, :name, {include_blank: '--'}, class:"select-box", id:"genre-name" %>
         </div>
     </div>
       <div class="search-wrap">
         <div class="search-form-label">
          <%= image_tag('pen.png', class:"pen-logo", alt:"search")%>
           <%= f.label :area_id_eq, 'エリア（東京都)'%>
         </div>
         <div class="search-form">
           <%= f.collection_select :area_id_eq, @area, :id, :name, {include_blank: '--'}, class:"select-box", id:"area-name" %>
         </div>
       </div>
       <div class="search-wrap">
         <div class="search-form-label">
          <%= image_tag('pen.png', class:"pen-logo", alt:"search")%>
           <%= f.label :price_name_eq, 'チケット価格' %>
         </div>
         <div class="search-radio">
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq,''%>
            指定なし
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '3000'%>
            3000円以下
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '4000'%>
            4000円以下
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '5000'%>
            5000円以下
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '6000'%>
            6000円以下
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_lteq, '10000'%>
            10000円以下
            <%= f.radio_button :price1_or_price2_or_price3_or_price4_or_price5_gteq, '10001'%>
            10000円以上
         </div>
       </div>
       <div class="search-wrap">
         <div class="search-form-label">
          <%= image_tag('pen.png', class:"pen-logo", alt:"search")%>
           期間
         </div>
         <div class="date-search-form">
           <%= f.date_field :start_date_gteq, placeholder: "" ,class:"date-form"%><div class="wave">〜</div>
           <%= f.date_field :end_date_lteq, placeholder: "" ,class:"date-form"%>
         </div>
       </div>
       <div class="change-form">
         <p><%= f.select( :sorts, { '並び替え': 'updated_at desc', '料金の安い順': 'price1 asc', '料金の高い順': 'price1 desc','開演日の早い順': 'start_date desc','開演日の遅い順': 'start_date asc'} , { onchange: 'this.form.submit()'},class:"change-pulldown" ) %></p>
       </div>
       <div class="search-btn">
        <%= image_tag('search.png', class:"search-logo", alt:"search")%>
         <%= f.submit '検索する', class:"search-btn-content"%>
       </div>
    </div>
  <% end %>
</div>



<%= render "shared/footer" %>