<%= render "shared/header" %>

<div class="performance-uproad-main">
  <h1 class="performance-upload-title">公演登録ページ</h1>


 <%= form_with(model: @performance, local: true) do |f| %>

  <%= render 'shared/error_messages', model: f.object %>
  
  <%# 公演画像 %>
  <div class="img-upload">
    <div class="weight-bold-text">
      公演画像
      <span class="indispensable">必須</span>
    </div>
    <div class="click-upload">
    <p>
    クリックして画像をアップロード
    </p>
    <%= f.file_field :image, id:"item-image" %>
    <%= image_tag @performance, class: "perfoemance-image" if @performance.image.attached? %>
  </div>
  <%# /公演画像 %>
  <%# 公演タイトル %>
  <div class="performance-title">
    <div class="weight-bold-text">
      公演タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :title, class:"title-text", id:"title-name",placeholder:"例)ハムレット" %>
  </div>
  <%# /公演タイトル %>
  <%# 公演団体 %>
  <div class="performance-group">
    <div class="weight-bold-text">
    公演団体名
    <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :group, class:"group-text", id:"group-name",placeholder:"例)劇団シェイクスピア" %>
  </div>
  <%# /公演団体 %>
  <%# ActiveHash %>
  <div class="hash-form">
    <div class="weight-bold-text">
      ジャンル
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"genre-name"}) %>
    <div class="weight-bold-text">
       エリア（東京都）
       <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"area-name"}) %>
  </div>
  <%# /ActiveHash %>
  <%# チケット料金 %>
  <div class="price-content">
    <div class="price-text">
      <span>チケット料金１</span>
        <span class="indispensable">必須</span>
    </div>
      <span class="sell-yen">¥</span>
        <%= f.text_field :price1, class:"price-input", id:"item-price", placeholder:"" %>円
    <div class="price-text">
      <span>チケット料金2</span>
    </div>
      <span class="sell-yen">¥</span>
        <%= f.text_field :price2, class:"price-input", id:"item-price", placeholder:"" %>円
    <div class="price-text">
      <span>チケット料金3</span>  
    </div>
      <span class="sell-yen">¥</span>
        <%= f.text_field :price3, class:"price-input", id:"item-price", placeholder:"" %>円
    <div class="price-text">
      <span>チケット料金4</span>  
    </div>
      <span class="sell-yen">¥</span>
        <%= f.text_field :price4, class:"price-input", id:"item-price", placeholder:"" %>円
    <div class="price-text">
      <span>チケット料金5</span>  
    </div>
      <span class="sell-yen">¥</span>
        <%= f.text_field :price5, class:"price-input", id:"item-price", placeholder:"" %>円
   </div>
   <%# /チケット料金 %>
   <%# 開演日 %>
   <div class="performance-dates">
     <div class="date-name">
     公演期間入力
     </div>
      <label class="control-label" for="">開演日</label>
      <%= f.date_select :start_date, {include_blank: true, use_month_numbers: true}, class: 'form-control' %>
     <%# /開演日 %>
     <%# 終演日 %>
     <div class="date-name">
       <label class="control-label" for="">終演日</label>
       <%= f.date_select :end_date, {include_blank: true, use_month_numbers: true}, class: 'form-control' %>
     </div>
   </div>
   <%# 終演日 %>
   <%# 開演時間 %>
    <div class="start-time">
      <div class="weight-bold-text">
        開演時間詳細
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :start_at, class:"time-text", id:"time-name",placeholder:"例)9月10日12:00/17:00" %>
    </div>
   <%# /開演時間 %>
   <%# 公演詳細ページ %>
     <div class="performance-url">
      <div class="weight-bold-text">
        チケット購入先
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :url, class:"url-text", id:"url-name",placeholder:"チケットの購入先URLを記入してください" %>
     </div>
    <%# /公演詳細ページ %>
    <div class="btn-content">
      <%= f.submit '登録する', class: 'new-btn'%>
      <%= link_to 'もどる', root_path, class: 'back^btn'%>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>