<%= render "shared/header" %>

<div class="detail-content">

    <%= image_tag @performance.image,alt:"image",class:"show-image"%>
<div>
  <table class="detail-table">
    <tbody>
        <th class="detail-performance">公演名</th>
        <td class="detail-value"><%= @performance.title %></td>
      </tr>
      <tr>
        <th class="detail-performance">団体名</th>
        <td class="detail-value"><%= @performance.group %></td>
      </tr>
      <tr>
        <th class="detail-performance">ジャンル</th>
        <td class="detail-value"><%= @performance.genre.name %></td>
      </tr>
       <tr>
        <th class="detail-performance">劇場</th>
        <td class="detail-value"><%= @performance.theatre %></td>
      </tr>
      <tr>
        <th class="detail-performance">エリア(東京都)</th>
        <td class="detail-value"><%= @performance.area.name %></td>
      </tr>
      <tr>
        <th class="detail-performance">チケット料金</th>
        <td class="detail-value">
          <%= @performance.price1 %>
          <%= @performance.price2 %>
          <%= @performance.price3 %>
          <%= @performance.price4 %>
          <%= @performance.price5 %></td>
      </tr>
      <tr>
        <th class="detail-performance">開演時間</th>
        <td class="detail-value"><%= @performance.start_at%></td>
      </tr>
      <tr>
       <th class="detail-performance">概要</th>
       <td><%= @performance.infomation%></td>
       </tr>
      <tr>
        <th class="detail-performance">チケット購入先</th>
        <td class="link-text">
        <div class="detail-value">
        <%= raw Rinku.auto_link(@performance.url, :all, 'target="_blank"') %>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <%if @performance.address != nil %>
<div id='map'>
<script>
let map
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @performance.latitude %>, lng: <%= @performance.longitude %>},
    zoom: 15,
       zoomControl: false,
       mapTypeControl: false,
       fullscreenControl: false,
       streetViewControl: false,
  });

  marker = new google.maps.Marker({
    position: {lat: <%= @performance.latitude %>, lng: <%= @performance.longitude %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
</div>
<% end %>
</div>

        <%= render partial: 'likes/like', locals: { performance: @performance} %>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="舞台公演検索サイトStearch!で検索しました！" data-hashtags="stearch,舞台" data-size="large" data-lang="ja" >Twitter</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <div class="edit-dest">
    <% if user_signed_in? && current_user.id == @performance.user.id %>
      <%= link_to '情報の編集', edit_performance_path, method: :get, class:"edit-btn" %>
      <div class="destroy-btn" id="destroy-btn">削除</div>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.id == @performance.user.id %>
    <%= link_to 'マイページにもどる', "/users/#{current_user.id}",class: "mypage-back" %>
  <% end %>
  <%= link_to 'トップページにもどる', root_path,class: 'back-btn' %>

</div>
<div class="login-modal-wrapper" id="login-modal">
  <div class="modal">
    <div class="close-model">
      <div class="close-btn">✖️</div>
    </div>
    <div id="login-form">
       <h2>公演を削除しますか？</h2>
       <div>
         <p>【公演名】<%= @performance.title %></p>
         <p>【団体】<%= @performance.group %></p>
       </div>
       <div class="destroy-modal-wrap">
        <%= link_to '削除する', performance_path(@performance.id), method: :delete, class:'destroy-btn-modal',id:"destroy-btn" %>
        </div>
     </div> 
   </div>
</div>

<%= render "shared/footer" %>