<%= render "shared/header" %>

<h2>新規登録</h2>

<%= form_with(model: @user,  url: user_registration_path, class: "registration-main", local:true)  do |f| %>
  <%= render "shared/error_messages", model: f.object %>

   <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">ユーザーネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>
 
  <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
    </div>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<%= render "shared/footer" %>
