<%= render "shared/header" %>
<div class="sign-up-content">
  <div class="sign-up-title">
    <h2>新規登録</h2>
  </div>

<%= form_with(model: @user,  url: user_registration_path, class: "registration-main", local:true)  do |f| %>
  <%= render "shared/error_messages", model: f.object %>

   <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">ユーザーネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",class:"sign-up-form" %>
  </div>
 
  <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"sign-up-form",placeholder:"stearch@email.com" %>
  </div>

  <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, autocomplete: "new-password",class:"sign-up-form",placeholder:'６文字以上' %>
  </div>

  <div class="field">
    <div class="form-text-wrap">
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"sign-up-form" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class:"sign-up-btn" %>
  </div>
<% end %>

  <%= link_to 'トップページにもどる', root_path, class:"back-home" %>
  
</div>
<%= render "shared/footer" %>
